.expand-header {
    cursor: pointer;
    padding-left: 1em;
    vertical-align: middle;
    line-height: 3em;
}

body {
    max-width: 80ch;
	margin-bottom: 30em; /* prevents the page from jumping around when collapsing people near the bottom */
}

.toot {
    padding: 0 1em;
    overflow: auto;
	border-bottom: 1px solid;
}

.toot, .expand {
    border-left: 2px solid;
    border-radius: 4px;
    margin: .5em;
}

.toot > * {
    margin: 1em 0;
}

.reblog:before {content: "🔁 ";}
.reply:before  {content: "↩️ ";}
.poll:before   {content: "🗳️ ";}

img.avatar {
    width: 3em;
    margin: 0;
    float: right;
}

#main > .expand:last-child > .expand-header::after {
	content: " (incomplete)";
}

.day-header {
	text-align:center;
	margin: 1em;
}

.day:first-child .prev-day, .day:last-child .next-day  {
    visibility: hidden;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1em;
}
